@import "../base/mixins";

@import "../base/variable";

.footer {
  @include areas(footer);

  @media (max-width: 1024px) {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer {
    display: flex;

    justify-content: space-between;

    align-items: center;

    flex-wrap: wrap;

    .footer-social {
      flex-direction: column;

      flex-wrap: wrap;

      display: flex;

      align-items: center;

      justify-content: space-between;

      margin: 3% 0 0 0;
    }
    .footer-costumer {
      margin: 5% 0 0 10%;

      align-items: center;

      display: flex;

      flex-wrap: wrap;

      justify-content: space-around;

      font-size: 12px;

      opacity: 50%;

      flex-direction: column;

      text-align: justify;

      letter-spacing: 2px;
      li {
        @media (max-width: 1024px) {
          display: flex;

          flex-direction: column;

          align-items: center;

          font-size: 1em;

          letter-spacing: 5px;
        }
        h4 {
          font-size: 14px;

          text-transform: uppercase;
        }
      }
    }
    .footer-copyright {
      flex-direction: column;

      align-items: center;

      display: flex;

      flex-wrap: wrap;

      justify-content: space-around;

      font-size: 12px;

      opacity: 50%;

      text-align: justify;

      letter-spacing: 2px;

      margin: 7% 0 0 0;

      li {
        h4 {
          font-size: 14px;

          text-transform: uppercase;
        }
      }
    }
  }
}
