.grid-container {
  margin: 0 1%;

  display: grid;

  gap: 1vmax;

  background-image: linear-gradient(rgb(8, 8, 19), rgb(138, 138, 138));

  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: auto;

  grid-template-areas:
    "nav nav"
    "image1 image2"
    "article aside "
    "contact contact"
    "footer footer";

  @media (max-width: 1024px) {
    justify-content: center;

    margin: 0;

    padding: 0;

    grid-template-columns: 1fr;

    grid-template-areas:
      "nav nav"
      "image1 image1"
      "image2 image2"
      "article article"
      "aside aside"
      "contact contact"
      "footer footer";
  }
}
