$bg-general: linear-gradient(rgb(8, 8, 19), rgb(138, 138, 138));

$bg-header: rgb(0, 0, 0) radial-gradient(rgb(27, 27, 27), rgb(57, 57, 57));

$colors: #fff #000 lightgray rgb(8, 8, 19) whitesmoke aquamarine navy
  rgb(138, 138, 138);
